body{
    display:flex;
    /* align-items:center; */
    justify-content:center;
}

#idScreen {
    width : 95vw;
    height : 92.5vh; 
    border: 1px solid #000;
}

#idPlayers, #idMatch, #idHand, #idOptions {
    width: 100%;
}

#idPlayers{
    background-color: aqua;
    height: 15%;
    display: flex;
    justify-content: space-between;

}

#avatarPlayer, #plusUltra, #avatarOpponent{
    height: 70%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatarPlayer{
    color: antiquewhite;
    font-size: 70px;
    background-color: blue;
}

#plusUltra{
    display: flex;
    text-align: center;
    font-size: 100px;
    background-color: aqua;
}

#avatarOpponent{
    color: antiquewhite;
    font-size: 70px;
    background-color: red;
}

#idMatch{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#idCardsOpponent, #idFields, #idCardsPlayer{
    height: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.local, .position{
    width: 30%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#idFields{
    background-color: yellow;
}

.local{
    background-color: aliceblue;
}


#idCardsOpponent, #idCardsPlayer{
    background-color: tomato;
}

.position{
    background-color: aliceblue;
}

#idHand{
    background-color:blueviolet;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    background-color: aliceblue;
    /* width: 13%;
    height: 90%; */
    width: 48px;
    height: 74px;
}

#card {
    width: 30px;
    height: 50px;
    background-color: #000;
    z-index: 1;
}

.dropbox{
    height:100px;
    width:100px;
    border:1px solid #000;
    border-radius:10px;
    float:left;
    margin:10px;
}

#dragbox{
    width: 48px;
    height: 74px;
    border:1px solid #000;
    border-radius:10px;
    float:left;
    margin:10px;
    background:#31D2B1;
}

#idOptions{
    background-color: greenyellow;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: antiquewhite;
    text-shadow:#000 5px -5px, #000 -5px 5px, #000 5px 5px, #000 -5px -5px
}

#backOff, #energy{
    display: flex;
    align-items: center;
}

#backOff, #finish{
    height: 70%;
    width: 32%;
}

#backOff{
    font-size: 70px;
    padding-left: 10px;
    background-color: red;
}

#energy{
    font-size: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 180px;
    width: 180px;
    background-color: aqua;
}

#finish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    background-color: rebeccapurple;
    align-items: flex-end;
}

p{
    padding: 0 7%;
}
